<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>SkeletonApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-card>
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
      <ion-card-subtitle>Bienvenido</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>

            <ion-input label="Usuario" label-placement="floating" fill="" placeholder="Ingrese usuario"></ion-input>


            <ion-input label="Contraseña" type="password" label-placement="floating" fill="" placeholder="Ingrese contraseña"></ion-input>

    </ion-card-content>

    <ion-button [routerLink]="['/home']" style="margin-left: 50px; margin-bottom: 50px;">
      Go to home
    </ion-button>

  </ion-card>





</ion-content>